body {
  background: #d8ddd8;
}

@keyframes moveEyeBrow1 {

  0%,
  100% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(0.2deg);
  }

  50% {
    transform: rotate(0.3deg);
  }

  75% {
    transform: rotate(0.5deg);
  }
}

@keyframes moveEyeBrow2 {

  0%,
  100% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-0.4deg);
  }

  75% {
    transform: rotate(-0.6deg);
  }
}

svg #eyebrow1 {
  animation: moveEyeBrow1 25s infinite linear;
}

svg #eyebrow2 {
  animation: moveEyeBrow2 45s infinite linear;
  
}

svg.listening #eyebrow1 {
  transform: rotate(11deg);
}

@keyframes blink1 {

  0%,
  3%,
  100% {
    d: path("M 769 1158 C 870 1162 989 1167 1027 1168 C 903 1055 816 1126 768 1158");
  }

  1.5% {
    d: path("M 769,1158 C 880,1320 1007,1204 1027,1168 903,1055 816,1126 768,1158")
  }
}

@keyframes blink2 {

  0%,
  3%,
  100% {
    d: path("M 1167,1167 C 1260,1163 1343,1159 1419,1157 1357,1078 1220,1090 1166,1167");
  }

  1.5% {
    d: path("M 1167,1167 C 1229,1257 1341,1271 1419,1157 1357,1078 1220,1090 1166,1167")
  }
}

svg #eyelid1 {
  d: path("M 769,1158 C 880,1320 1007,1204 1027,1168 903,1055 816,1126 768,1158");
  animation: blink1 6s infinite;
}

svg #eyelid2 {
  d: path("M 1167,1167 C 1260,1163 1343,1159 1419,1157 1357,1078 1220,1090 1166,1167");
  animation: blink2 6s infinite;
}

@keyframes moveEyes {

  0%,
  100% {
    transform: translate(-1%, 0%);
  }

  15% {
    transform: translate(2%, -0.5%);
  }

  50% {
    transform: translate(-3%, 0.3);
  }

  75% {
    transform: translate(1, -0.2%);
  }
}

svg #pupils {
  animation: moveEyes 30s infinite linear;
}

@keyframes speaking {

  0%,
  100% {
    d: path("M 998,1462 C 1096,1462 1184,1462 1220,1462 1192,1508 1084,1564 998,1462")
  }

  50% {
    d: path("M 998,1462 C 1065,1476 1154,1482 1220,1462 1179,1524 1084,1564 998,1462")
  }
}

svg.speaking #lip-bottom {
  animation: speaking 0.6s infinite;
}