.fondo{
    background-color: #d8457B;
    color:white;
}

.pie{
    font-size: smaller;
    color: #FFFFFF;
    background-color: #A8154B;
    padding: 3px;
    border-radius: 4px;
}

.select{
    color: #000000;
    background-color: #99FFFF;
    font-size: small;
}

#caja{
    color: #000000;
    background-color: #99FFFF;
    text-align: left;
    font-size: smaller;
    width: 100%;
    height: 16rem;
}
