.fondo{
    background-color: #d8457b;
    color:white;
}

.pie{
    font-size: smaller;
    color: #99FFFF;
}

.select{
    color: #000000;
    background-color: #44AAAA;
    font-size: small;
}

#caja{
    color: #000000;
    background-color: #44AAAA;
    text-align: left;
    font-size: smaller;
    width: 100%;
    height: 16rem;
}
